/* Table of Contents
_________________________________________________
- General Contents 
- Typography
- Header & Navigation
- Images & Media 
- Footer
- Media Queries
_________________________________________________ */


/* General Contents 
_________________________________________________ */
.main{padding-top:3%;}
.row{padding: 2% 0;}
.green{background-color:#7accc8;}

/* Typography
_________________________________________________ */


/* Header & Navigation
_________________________________________________ */
header.main_nav{
	padding: 1% 0;
	display: block;
}

/* Images & Media 
_________________________________________________ */


/* Footer
_________________________________________________ */


/* Media Queries
_________________________________________________ */
